.categories {
	background-color: navy;
	color: white;
	text-align: center;
	width: 175px;  
	height: 100px;
	position: absolute;
	flex: 2;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 10px


}

.clues {
	text-align: center;
	background-color: navy;
	color: yellow;
	width: 175px;  
	height: 100px;
	border: 1px;
	font-size: 30px;
	flex: 6;
}