@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

@font-face {
	font-family: 'Korinna-BT';
	src:
		url('./assets/fonts/Korinna_Bold_BT.woff2') format('woff2'),
		url('./assets/fonts/Korinna_Bold_BT.woff') format('woff');
}

@font-face {
	font-family: 'Swiss-911';
	src:
		url('./assets/fonts/Swiss_911_Compressed.woff2') format('woff2'),
		url('./assets/fonts/Swiss_911_Compressed.woff') format('woff');

}

@font-face {
	font-family: 'Swiss-911-Extra-Compressed';
	src:
		url('./assets/fonts/Swiss_911_Extra_Compressed.woff2') format('woff2'),
		url('./assets/fonts/Swiss_911_Extra_Compressed.woff') format('woff');
}

@font-face {
	font-family: 'Gyparody';
	src:
		url('./assets/fonts/gyparody.woff2') format('woff2'),
		url('./assets/fonts/gyparody.woff') format('woff');

}

html, body {
  position: relative;
  background-image: url('./assets/gameboard_background.gif');
	min-height: 100vh;
  min-width: 100vw;
  background-size: 100% 100%;
  background-repeat:repeat-x;
  background-attachment:fixed;
  background-position: left top;
  position:absolute;
  cursor: url('./assets/custom_pointer.png') 9 1, auto !important;

}

a {
	text-decoration: none !important;
}

a:hover {
	cursor: url('./assets/custom_pointer.png') 9 1, auto !important;
}

.container {
	position: fixed;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	min-height: 100%;
	min-width: 100%;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.about-transition-appear {
	transform: translate3d(100%, 0, 0);
}

.about-transition-appear.about-transition-appear-active {
	transform: translate3d(0, 0, 0);
	transition: all 1s ease-in;
}


#container-table {
	width: 68.5vw;
	margin-left: 17.15vw;
	margin-right: auto;
	margin-top: 16.9vh;
}

th.categories {
	width: 11%;
	height: 11.83vh;
	color: white;
	text-align: center;
	position: absolute;
	font-weight: 100;
	text-transform: uppercase;
	border: 4px solid black !important;
	background-image: url('//cache1.asset-cache.net/xd/eef_010.jpg?v=1&c=IWSAsset&k=2&d=5225673E10E2FD0F0E6C89302D5D4AE94E7679DD01108BC6D5CC31666135BEB7E7BFD5B312C9BD15');
	background-size: 100% 100%;
	font-size: 22px;
	font-family: "Swiss-911";
}


td.clues {
	height: 11.83vh;
	width: 100% !important;
	text-align: center;
	color: yellow;
	border: 2px solid black !important;
	font-size: 60px;
	text-shadow: 4px 4px black;
	font-family: "Swiss-911-Extra-Compressed";
	background-image: url('http://www.santemaghreb.com/algerie/jicc2009/13_fichiers/master04_background.gif');
	background-size: 100% 100%;
  transition: 0.5s;
}

td.clues:hover {
    color: #CB1C4E;
    border: 6px inset yellow !important;
    padding: 5px 10px 10px 10px;
    font-size: 70px;
    text-shadow: 8px 8px black;
    cursor: url('./assets/custom_pointer.png') 10 10, auto;
}

.questionPop-appear {
	transform: scale(.1);
}

.questionPop-appear.questionPop-appear-active {
	transform: scale(1);
  transition: all 0.75s ease-in-out;
}

.table {
	width: 100% !important;
}

.table-reflow tr {
	width: 16%;
	height: 16%;
}

#question {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	font-family: "Korinna-BT";
	font-size: 75px;
	text-align: center;
	color: white;
	text-shadow: 2px 2px black;
	background-image: url('//www.santemaghreb.com/algerie/jicc2009/13_fichiers/master04_background.gif');
}

#question-text {
	margin-top: 175px;
	margin-left: 50px;
	margin-right: 50px;
}

.waitingGame {
	color: white;
	font-weight: bolder;
	font-size: 20px;
}

.waitingClue {
	color: white;
	font-weight: bolder;
	font-size: 20px;
}

.links {
	animation-delay: 3s;
}
.linkEnter {
	margin-top: 30vh;
	text-align: center;
	color: white;
	font-weight: bolder;
	font-size: 40px;
}

#startGame {
	text-decoration: none;
  color: navy;
  height: 100px;
  width: 300px;
  background: #fee533;
  position: relative;
  margin: 50px;
  padding: 15px;
  font-size: 40px;
  border-radius: 15px;
  box-shadow: 0px 10px 0px 0px #fef299 , 0px 0px 20px 0px #bbb;
  transition: all 0.2s;
  cursor: url('./assets/custom_pointer.png') 9 1, auto !important;
}

#startGame.a:active {
	top: 6px;
	box-shadow: 0px 7px 0px 0px #fef299 ;
}

#startGame.a:hover {
	color: #669DD3 !important;
}

#submitUsername {
	text-decoration: none;
  color: navy;
  height: 100px;
  width: 300px;
  background: #fee533;
  position: relative;
  padding: 15px;
  font-size: 40px;
  border-radius: 15px;
  box-shadow: 0px 10px 0px 0px #fef299 , 0px 0px 20px 0px #bbb;
  transition: all 0.2s;
  cursor: url('./assets/custom_pointer.png') 9 1, auto !important;
}

#submitUsername.a:active {
	top: 6px;
	box-shadow: 0px 7px 0px 0px #fef299 ;
}

#submitUsername.a:hover {
	color: #669DD3 !important;
}

.verifyContainer {
  display: flex;
  justify-content: center;
  background-image: url('./assets/user-gameplay_bckgrnd.jpg');
  background-size: 100% 100%;
  min-height: 100vh;
  min-width: 100vw;
  font-weight: bold;
  color: white;
}

.linkVerify {
	margin-top: 30vh;
	font-weight: bolder;
	font-size: 40px;
	text-align: center;
}

.link-code {
	margin-right: 5px;
}

input[type="text"] {
  max-width: 90%;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  margin-bottom: 4%;
}

#submit {
	text-decoration: none;
  color: navy;
  height: 100px;
  width: 300px;
  background: #fee533;
  position: relative;
  margin-bottom: 15%;
  padding: 15px;
  font-size: 40px;
  border-radius: 15px;
  box-shadow: 0px 10px 0px 0px #fef299 , 0px 0px 20px 0px #bbb;
  transition: all 0.2s;
  cursor: url('./assets/custom_pointer.png') 9 1, auto !important;
}

#submit.a:active {
	top: 6px;
	box-shadow: 0px 7px 0px 0px #fef299 ;
}

#submit.a:hover {
	color: white !important;
}

input[type="checkbox"] {
  margin: 15px;
}

input[type="checkbox"]:hover {
  cursor: url('./assets/custom_pointer.png') 9 1, auto !important;
}

.landing {
	min-width: 100vw;
	min-height: 100vh;
	margin-top: 20vh;
	text-align: center;
}

.logo-holder {
	margin-bottom: 4vh;
}

#logo {
	max-width: 60%;
}

.logo-transition-appear {
	transform: scale(0);
}

.logo-transition-appear.logo-transition-appear-active {
	transform: scale(1);
  transition: all 1s ease-in-out;
  transition-delay: 0.5s;
}

.index-transition-appear {
	opacity: 0;
}

.index-transition-appear.index-transition-appear-active {
	opacity: 1;
  transition: opacity 1s ease-in;
  transition-delay: 1.5s;
}

button.create.btn.btn-primary.btn-lg {
	margin: 0 290px 52px;
}

a.join.btn.btn-primary.btn-lg {
	margin: 0 16px 52px 0px;
}

button.create.btn.btn-primary.btn-lg {
	margin: auto;
	margin-bottom: 20px;
}

a.join.btn.btn-primary.btn-lg {
	margin: auto;
	margin-bottom: 23px;
}

.about, .howto {
	color: white;
	font-family: 'Gyparody';
	margin-right: 15px;
	margin-left: 15px;
	font-size: 3.5vh;
}

u:hover {
	color: #CB1C4E;
}

#about {
	color: yellow;
	width: 75vw;
	margin-left: 13vw;
	margin-right: auto;
	margin-top: 17.5vh;
	font-family: 'Open Sans';
}

#howto {
	color: yellow;
	width: 64vw;
	margin-left: 9vw;
	margin-right: auto;
	margin-top: 17.5vh;
	font-family: 'Open Sans';
}

#howto .gyparody {
	font-family: 'Gyparody';
	font-size: 3vw;
	text-align: center;
	animation-duration:
}

.howto-transition-appear {
	opacity: 0;
}

.howto-transition-appear.howto-transition-appear-active {
	opacity: 1;
	transition: opacity 1s ease-in;
}

#aboutDiv {
	margin-bottom: 10px;
}

#howtoDiv {

}

#stack {
	margin: auto;
	width: 73%;
	margin-bottom: 20px;
	background-color: white;
}

.stack.intro {
	text-align: center;
	margin-bottom: 10px;
}

.configContainer {
	display: inline-block;
  justify-content: center;
  background-image: url('./assets/user-gameplay_bckgrnd.jpg');
  background-size: 100% 100%;
  min-height: 100vh;
  min-width: 100vw;
  font-weight: bold;
  color: white;
}

.selfieContainer {
	margin-top: 10vh;
}

.cancel {
    background: #ec0404 !important;
    background-color: #ec0404 !important;
    box-shadow: 0px 10px 0px 0px #a50202, 0px 0px 20px 0px #bbb !important;
    margin: 0px !important;
    color: white !important;
    padding: 0px !important;
    margin-top: 0vh !important;
}

.cancel:active {
	box-shadow: 0px 7px 0px 0px #a50202 !important;
}

.cancel:hover {
	cursor: url('./assets/custom_pointer.png') 9 1, auto !important;
	color: #669DD3 !important;
}

.text-center {
  text-align: center;
  margin-top: 5vh;
  text-transform: uppercase;
  font-size: 2em;
}

.centered-Create {
	text-align: center;
	margin-top: 5vh;
}

.usernameContainer {
	text-align: center;
	margin-top: 10vh;
}

/*ul.why{
	display: block;
	text-align: center;
}

ul.why li {
	display: inline-block;
}*/

#peter, #lukas, #chris {
	height: 180px;
	width: 180px;
}

#trebek {
	background-image: url('./assets/trebek_default.png');
}

.round-button {
	width:25%;
}
.round-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
  border-radius: 50%;
	border:10px solid #cfdcec;
  overflow:hidden;
  background: #4679BD;
  box-shadow: 0 0 3px gray;
}

.round-button-circle-activated {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
  border-radius: 50%;
	border: 10px solid #cfdcec;
  overflow: hidden;
  background: navy;
  box-shadow: 0 0 3px gray;
}

@font-face {
    font-family: '"Korinna-BT"';
    font-style: normal;
    font-weight: normal;
}

#gamebutton {
    display: inline-block;
/*    margin-top: 20%;
*/    -webkit-border-radius: 50%
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow:    0 8px 0 #950c0c, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 #950c0c, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 #950c0c, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 60px;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#gamebutton span {
    display: inline-block;
    padding: 80px 0px;
    background-color: #f91515;
    /*background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(338, 90%, 80%, .8)), to(hsla(338, 90%, 70%, .2)));*/
    /*background-image: -webkit-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));*/
    /*background-image: -moz-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));*/
    /*background-image: -o-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    font-family: 'Pacifico', Arial, sans-serif;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

#gamebutton:active, #button:focus {
    -webkit-box-shadow:    0 8px 0 #950c0c, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #950c0c, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #950c0c, 0 12px 10px rgba(0, 0, 0, .3);
}

#gamebutton:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}
a[disabled] {
    pointer-events: none;
}
#gamebuttonDisabled {
    display: inline-block;
/*    margin-top: 20%;
*/    -webkit-border-radius: 50%
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow:    0 8px 0 #a8a4a4, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 #a8a4a4, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 #a8a4a4, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 60px;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
}
#gamebuttonDisabled span {
    display: inline-block;
    padding: 80px 0px;
    background-color: #d2cece;
/*    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(0, 90%, 80%, .8)), to(hsla(0, 90%, 70%, .2)));
    background-image: -webkit-linear-gradient(hsla(0, 90%, 80%, .8), hsla(0, 90%, 70%, .2));
    background-image: -moz-linear-gradient(hsla(0, 90%, 80%, .8), hsla(0, 90%, 70%, .2));
    background-image: -o-linear-gradient(hsla(0, 90%, 80%, .8), hsla(0, 90%, 70%, .2));*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 -1px 1px rgba(0, 0, 0, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 1px rgba(0, 0, 0, .15);
    font-family: 'Pacifico', Arial, sans-serif;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

.gameplay-view {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-image: url('./assets/user-gameplay_bckgrnd.jpg');
  background-size: 100% 100%;
  background-repeat:repeat-x;
  min-height: 100vh;
  min-width: 100vw;
  font-weight: bold;
  color: white;
  font-size: 30px;
}

.score {
	flex-grow: 2;
	margin: 5px;
}

.buzz-alert {
	flex-grow: 2;
	margin: 5px;
}

.btn-container {
	flex-grow: 5;
	margin: 5px;
}

.avatar {
	margin-top: 20px;
	text-align: center;
	flex-grow: 3;
}

/*.game-button {
	margin-left: 20%;
}
*/
.buttons {
	 text-align: center;
	 color: navy;
	 animation-delay: 2s;
}

.create.a {
	text-decoration: none;
	color: navy;
	width: 150px;
	height: 50px;
	font-family: Gyparody;
	background: #fee533 ;
	position: relative;
	margin: 30px;
	padding: 16px;
	font-size: 55px;
	border-radius: 15px;
	box-shadow: 0px 10px 0px 0px #fef299 , 0px 0px 20px 0px #bbb;
	transition: all 0.2s;
  cursor: url('./assets/custom_pointer.png') 9 1, auto !important;
}

.create.a:active {
	top: 6px;
	box-shadow: 0px 7px 0px 0px #fef299 ;
}

.create.a:hover {
	color: #669DD3 !important;
}

.create {
	background-color: #fee533 ;
}

.buttons {
  text-align: center;
  color: white;
  flex-grow: 2;
  padding-bottom: 50px;
}

.a {
  text-decoration: none;
  color: white;
  width: 150px;
  height: 50px;
  background: #fee533;
  position: relative;
  margin: 30px;
  padding: 13px;
  font-size: 22px;
  border-radius: 10px;
  box-shadow: 0px 10px 0px 0px #fef299, 0px 0px 20px 0px #bbb;
  transition: all 0.2s;
  white-space: normal;
}

.a:active {
  top: 10px;
  box-shadow: 0px 7px 0px 0px #fef299;
}

.button1 {
  background-color: #fee533;
}

.buttons-question {
	text-align: center;
  color: white;
}

.btm {
	margin-top: 30px;
	margin-bottom: 45px;
	animation-delay: 2s;
}

.parent {
	display: flex;
	justify-content: space-around;
	margin-right: 20px;
}

.developers {
	text-align: center;
	padding-bottom: 10px;
}

#express {
	margin-top: 18px;
}

.logo {
	margin-right: 5px;
}

#why {
	margin: auto;
	width: 60%;
	padding-bottom: 10px;
}

.stack.intro{
	font-family: 'Gyparody';
	font-size: 40px;
}

.developers {
	font-family: 'Gyparody';
}

ul.why {
  width: 67vw;
  margin-left: 3vw;
}

img {
	image-rendering: crisp-edges;
}
.host-gameplay-question {
	margin-bottom: 20%;
	text-align: center;
}

.correct {
  background: #09b209;
  background-color: #09b209;
  box-shadow: 0px 10px 0px 0px #067c06, 0px 0px 20px 0px #bbb;
  margin-right: 5px;
  color: white !important;
}

.correct:active {
	box-shadow: 0px 7px 0px 0px #067c06;
}

.incorrect {
	background: #ec0404;
	background-color: #ec0404;
	box-shadow: 0px 10px 0px 0px #a50202, 0px 0px 20px 0px #bbb;
	margin-left: 5px;
	color: white;
}

.incorrect:active {
	box-shadow: 0px 7px 0px 0px #a50202;
}

.host-answer {
	margin-bottom: 40px;
	font-size: 60px;
}

.row {
    width: auto;
    margin-top: 30px;
}
/*
/////////////////
Hover.css classes
/////////////////
*/

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.bio {
  color: yellow;
  width: 54vw;
  margin-left: 18vw;
  margin-right: auto;
  margin-top: 18.5vh;
  font-family: 'Open Sans';
}

h1.devName.peter {
  margin-left: 25vw;
}

h1.devName.lukas {
	margin-left: 23vw;
}

h1.devName.chris {
	margin-left: 23vw;
}

.github {
	display: inline;
}

.linkedin {
	display: inline;
}

.externals {
  margin-left: 24vw;
}