@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

@font-face {
	font-family: 'Korinna-BT';
	src: 
		url('./assets/fonts/Korinna_Bold_BT.woff') format('woff'),
		url('./assets/fonts/Korinna_Bold_BT.woff2') format('woff2');
}

@font-face {
	font-family: 'Swiss-911';
	src: 
		url('./assets/fonts/Swiss_911_Compressed.woff') format('woff'),
		url('./assets/fonts/Swiss_911_Compressed.woff2') format('woff2');
}


html, body {
  position: relative;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  background-size: 100% 100%;
  background-repeat:repeat-x;
  background-attachment:fixed;
  background-position: left top;
  position:absolute;
}

a {
	text-decoration: none !important;
}

.container {
	position: relative;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	min-height: 100%;
	min-width: 100%;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

#container-table {
	width: 72.5%;
	margin: 160px 150px 100px 290px;
}

th.categories {
	width: 11%;
	height: 12%;
	color: white;
	text-align: center;
	position: absolute;
	font-weight: bold;
	text-transform: uppercase;
	border: 4px solid black !important;
	background-image: url('//cache1.asset-cache.net/xd/eef_010.jpg?v=1&c=IWSAsset&k=2&d=5225673E10E2FD0F0E6C89302D5D4AE94E7679DD01108BC6D5CC31666135BEB7E7BFD5B312C9BD15');
	background-size: 100% 100%;
	font-size: 17px;
	font-family: "HelveticaNeue-CondensedBold";
}

td.clues {
	height: 108px;
	width: 100% !important;
	text-align: center;
	color: yellow;
	border: 2px solid black !important;
	font-size: 45px;
	font-weight: bolder;
	text-shadow: 4px 4px black;
	font-family: "Swiss-911";
	background-image: url('http://www.santemaghreb.com/algerie/jicc2009/13_fichiers/master04_background.gif');
	background-size: 100% 100%;
    transition: 0.5s;
}

td.clues:hover {
    color: #14f00c;
    border: 6px inset yellow !important;
    padding: 5px 10px 10px 10px;
    font-size: 60px;
    text-shadow: 8px 8px black;
}

.table {
	width: 94% !important;
}

.table-reflow tr {
	width: 16%;
	height: 16%;
}

#question {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	font-family: "Korinna-BT";
	font-size: 75px;
	text-align: center;
	color: white;
	text-shadow: 2px 2px black;
	background-image: url('//www.santemaghreb.com/algerie/jicc2009/13_fichiers/master04_background.gif');
}

#question-text {
	margin-top: 175px;
}

.waitingGame {
	color: white;
	font-weight: bolder;
	font-size: 20px;
}

.waitingClue {
	color: white;
	font-weight: bolder;
	font-size: 20px;
}

.linkEnter {
	color: white;
	font-weight: bolder;
	font-size: 20px;
}

.linkVerify {
	color: white;
	font-weight: bolder;
	font-size: 20px;
}

.landing {
	text-align: center;
	background-color: navy;
}

button.create.btn.btn-primary.btn-lg {
	margin: 0 290px 52px;
}

a.join.btn.btn-primary.btn-lg {
	margin: 0 16px 52px 0px;
}

button.create.btn.btn-primary.btn-lg {
	margin: auto;
	margin-bottom: 20px;
}

a.join.btn.btn-primary.btn-lg {
	margin: auto;
	margin-bottom: 23px;
}

.about, .howto {
	color: white;
	font-family: 'Open Sans', sans-serif;
	margin-right: 15px;
	margin-left: 15px;
}

#about, #howto {
	background-color: navy;
	color: white;
}

#stack {
	margin: auto;
	width: 55%;
	margin-bottom: 20px;
}

.stack.intro {
	text-align: center;
	margin-bottom: 20px;
}

/*ul.why{
	display: block;
	text-align: center;
}

ul.why li {
	display: inline-block;
}*/

#peter, #lukas, #chris {
	height: 180px;
	width: 180px;
}

#b1 { background-image: url('./assets/backgrounds/background_template_empty_board.png'); }
#b2 { background-image: url('./assets/backgrounds/background_1.png'); } 
#b3 { background-image: url('./assets/backgrounds/background_2.png'); } 
#b4 { background-image: url('./assets/backgrounds/background_3.png'); }
#b5 { background-image: url('./assets/backgrounds/background_4.png'); }
#b6 { background-image: url('./assets/backgrounds/background_5.png'); }
#b7 { background-image: url('./assets/backgrounds/background_6.png'); }
#b8 { background-image: url('./assets/backgrounds/background_7.png'); } 
#b9 { background-image: url('./assets/backgrounds/background_8.png'); }
#b10 { background-image: url('./assets/backgrounds/background_9.png'); }
#b11 { background-image: url('./assets/backgrounds/background_10.png'); }
#b12 { background-image: url('./assets/backgrounds/background_11.png'); }
#b13 { background-image: url('./assets/backgrounds/background_12.png'); }
#b14 { background-image: url('./assets/backgrounds/background_13.png'); }
#b15 { background-image: url('./assets/backgrounds/background_14.png'); }
#b16 { background-image: url('./assets/backgrounds/background_15.png'); }
#b17 { background-image: url('./assets/backgrounds/background_16.png'); }
#b18 { background-image: url('./assets/backgrounds/background_17.png'); }
#b19 { background-image: url('./assets/backgrounds/background_18.png'); }
#b20 { background-image: url('./assets/backgrounds/background_19.png'); }
#b21 { background-image: url('./assets/backgrounds/background_20.png'); }
#b22 { background-image: url('./assets/backgrounds/background_21.png'); }
#b23 { background-image: url('./assets/backgrounds/background_22.png'); }
#b24 { background-image: url('./assets/backgrounds/background_23.png'); }
#b25 { background-image: url('./assets/backgrounds/background_24.png'); }
#b26 { background-image: url('./assets/backgrounds/background_25.png'); }
#b27 { background-image: url('./assets/backgrounds/background_26.png'); }
#b28 { background-image: url('./assets/backgrounds/background_27.png'); }

.round-button {
	width:25%;
}
.round-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
  border-radius: 50%;
	border:10px solid #cfdcec;
  overflow:hidden;
  background: #4679BD; 
  box-shadow: 0 0 3px gray;
}

.round-button-circle-activated {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
  border-radius: 50%;
	border: 10px solid #cfdcec;
  overflow: hidden;
  background: navy;
  box-shadow: 0 0 3px gray;
}