@import url(http://db.onlinewebfonts.com/c/795d10ca5cef97c354da7db008fa89f5?family=Korinna+BT);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

html, body {
  position: relative;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%
}

.container {
	position: relative;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	min-height: 100%;
	min-width: 100%;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.table {
	width: 1050px;
	height: 600px;
}

.categories {
	background-color: navy;
	color: white;
	text-align: center;
	width: 175px;  
	height: 100px;
	position: absolute;
	flex: 2;
	font-weight: bold;
	text-transform: uppercase;
	border: 8px solid black !important;
	background-image: url('http://cache1.asset-cache.net/xd/eef_010.jpg?v=1&c=IWSAsset&k=2&d=5225673E10E2FD0F0E6C89302D5D4AE94E7679DD01108BC6D5CC31666135BEB7E7BFD5B312C9BD15');
	background-size: 175px 100px;
	font-size: 16px;
	font-family: "HelveticaNeue-CondensedBold";
}

.clues {
	text-align: center;
	background-color: navy;
	color: yellow;
	width: 175px;  
	height: 100px;
	border: 2px solid black !important;
	font-size: 40px;
	font-weight: bolder;
	text-shadow: 2px 2px black;
	flex: 6;
	font-family: "HelveticaNeue-CondensedBold";
	background-image: url('http://www.santemaghreb.com/algerie/jicc2009/13_fichiers/master04_background.gif');
	background-size: 175px 100px;
}

#question {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	font-family: "Korinna BT";
	font-size: 75px;
	text-align: center;
	color: white;
	text-shadow: 2px 2px black;
	background-image: url('http://www.santemaghreb.com/algerie/jicc2009/13_fichiers/master04_background.gif');
}

#question-text {
	margin-top: 175px;
}

.landing {
	text-align: center;
	background-color: navy;
}

button.create.btn.btn-primary.btn-lg {
	margin: 0 290px 52px;
}

a.join.btn.btn-primary.btn-lg {
	margin: 0 16px 52px 0px;
}

.about {
	color: white;
	font-family: 'Open Sans', sans-serif;
}

#about {
	background-color: navy;
}

#stack {
	width: 600px;
	height: auto;
}

.stack.intro {
	color: white;
}

#why {
	color: white;
}